body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100vh;
}

#footerText {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: right;
    font-size: small;
    display: flex;
}

#trademark {
    display: flex;
    align-items: flex-start;
}

#googlecaptcha {
    display: flex;
    align-items: end;
}

.grecaptcha-badge {
    visibility: hidden;
}
